<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
<h2>&nbsp;</h2>
<div class="biblio_book_descr_caption" role="heading" aria-level="3"><em><span style="vertical-align: inherit;"><span
        style="vertical-align: inherit;">Описание книги</span></span></em></div>
<div class="biblio_book_descr_publishers" data-gtm-vis-recent-on-screen-12305570_159="2333"
     data-gtm-vis-first-on-screen-12305570_159="2333" data-gtm-vis-total-visible-time-12305570_159="2000"
     data-gtm-vis-has-fired-12305570_159="1">
    <h3><em><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Он последний в роду Серого Пса. </span><span
            style="vertical-align: inherit;">У него нет имени, только прозвище &ndash; Волкодав. </span><span
            style="vertical-align: inherit;">У него нет будущего &ndash; только месть, к которой он шёлдвенадцать одиннадцать лет. </span><span
            style="vertical-align: inherit;">Его род истреблён, в его доме давно поселились чужие. </span><span
            style="vertical-align: inherit;">Он спел Песню Смерти, ведь дальше незачем жить. </span><span
            style="vertical-align: inherit;">Но солнце почему-то продолжает светиться, и зеленеет лес, и несёт воды реки, и видно-то руки тянутся вслед, и шепчут определяет голоса: &laquo;Не бросай нас, Волкодав&raquo;&hellip;</span></span></em>
    </h3>
    <p><em><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Роман о Волкодаве, последний воин из рода Серого Пса, впервые опубликованный в 1995 году и завоевавший любовь миллионов читателей, &ndash; бесспорно, одна из лучших приключенческих книг в современной российской литературе. </span><span
            style="vertical-align: inherit;">Вслед за первой книгой были опубликованы &laquo;Волкодав. </span><span
            style="vertical-align: inherit;">Право на поединок&raquo;, &laquo;Волкодав. </span><span
            style="vertical-align: inherit;">Истовик-камень&raquo; и дилогия &laquo;Звёздный меч&raquo;, состоящая из романов &laquo;Знамение пути&raquo; и &laquo;Самоцветные горы&raquo;. </span><span
            style="vertical-align: inherit;">Продолжением &laquo;Истовика-камня&raquo; стал новый роман М. </span><span
            style="vertical-align: inherit;">Семёновой &ndash; &laquo;Волкодав. </span><span
            style="vertical-align: inherit;">Мир по дороге&raquo;.</span></span></em></p>
    <p><em><span style="vertical-align: inherit;"><span
            style="vertical-align: inherit;">По мотивам романов М. </span><span style="vertical-align: inherit;">Семёновой о легендарном герое сняты фильм &laquo;Волкодав из рода Серых Псов&raquo; и телесериал &laquo;Молодой Волкодав&raquo;, а также создано несколько компьютерных игр. </span><span
            style="vertical-align: inherit;">Герои Семёновой давно обрели самостоятельную жизнь в произведениях других авторов, объединённых в особую вселенную &ndash; &laquo;Мир Волкодава&raquo;.</span></span></em>
    </p>
</div>
</body>